<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="sim" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <node pkg="tfdemo" type="turtle_tf_broadcaster" args="/turtle1" name = "turtles1_tf_broadcaster"/>
    <node pkg="tfdemo" type="turtle_tf_broadcaster" args="/turtle2" name = "turtles2_tf_broadcaster"/>
    <node pkg="tfdemo" type = "turtle_tf_listener" name ="listener"/>

</launch>