<launch>
  <arg name="sk"/>

  <!--open gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sk)/urdf/sk.xacro"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model snake -x 0 -y 0 -z 1"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sk)/snake_config/snake_params.yaml" command="load"/>

  <!--start up the controller plug-ins via the controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/snake" args="joint_state_controller joint1_controller joint2_controller joint3_controller joint4_controller joint5_controller joint6_controller joint7_controller joint8_controller joint9_controller joint10_controller joint11_controller"/>

</launch>
